@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

/*This CSS is for ModeBtn*/
.MbtnWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.MbtnContainer{
    background-color: rgb(140, 167, 188);
    width: 180px;
    height: 90px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px ;
    gap: 0;
    justify-content: space-between;
    cursor: pointer;
    
}
.MbtnRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.MbtnText{
    color: white;
    align-self: center;
    padding: 0;
    margin: 0;
    
}
.MbtnTime{
    color: white;
    padding: 0;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-right: 25px;

}
.MbtnTime-text{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    align-self: center;
    margin-right: 5px;
}

.MbtnIcon{
    height: 30px;
    width: 30px;
}
/* This is the end of ModeBtn */

/* This is the Css for Timer */
.TimerBtn-Container{
    display: flex;
    flex-direction: row;
    gap: 8px;

}
.Timer-btn{
    width: 120px;
    background: #747474;
    color: white;
}
/* This is the end of Timer*/